@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root{

    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);

    font-size: 62.5%; /* 1rem = 10px */

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

body{
    height: 100vh;
    max-width: 100vw;
    padding: 2rem;

    background-color: var(--Dark-Blue);

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}

.card{
    width: 54.4rem;
    height: 33.4rem;
    padding: 50px;
    border-radius: 1.8rem;

    background-color: var(--Dark-Grayish-Blue);
    
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    box-shadow: 1px 3px 15px 1px rgba(0,0,0,0.76);

    position: relative;
}

.card h1{
    color: var(--Neon-Green);
    font-size: 1.8rem;
    text-transform: uppercase;
}

.card .advice{
    font-size: 2.5rem;
    text-align: center;
    color: var(--Light-Cyan);
    text-transform: uppercase;
}

.card .divider{
    max-width: 100%;
}

#btn-dice{
    width: 5.0rem;
    height: 5.0rem;
    border: 2px solid black;

    border-radius: 50%;
    background-color: var(--Neon-Green);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    position: absolute;

    top: 100%;
    left: 50%;
    Transform: translate(-50%, -50%);
}

#btn-dice:hover {
    box-shadow: 1px 1px 20px 1px var(--Neon-Green),
    -1px -1px 20px 1px rgba(82, 255, 168, 0.2);
    transition: .3s ease-in-out;
}


@media screen and (max-width: 570px) {
    
    body{   
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }



    .card{
        width: 97%;
        height: 85%;
        padding: 6.3rem 2.5rem;
        justify-content: space-between;
    }

    .card h1{
        font-size: 2.2rem;
    }


    #btn-dice{
        width: 6rem;
        height: 6rem;
 
        position: absolute;

        top: 100%;
        left: 50%;
        Transform: translate(-50%, -50%);
    }
}

